
@mixin blue-btn {
  background: #5272ca;
  border-radius: 10px;
  border: none;
  color: white;
  height: 45px;
  width: 100px;
  font-size: 1rem;
}

html,
body {
  background: #fffff;
  font-family: system-ui;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
  .nav-grey-block {
    background: #f3f3f3;
    height: 25px;
    border-radius: 20px;
    margin-left: 2rem;
    width: 150px;
  }
  .nav-container {
    display: flex;
    flex-basis: 55%;
    span.down-arrow{
        color: #929292;
        font-size: 0.8rem;
        margin-left: 0.25rem;
  }
    ul {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 1000%;
      list-style: none;

      padding: 0rem 2rem;
      button {
        @include blue-btn;
      }
    }
  }
}

.hero {
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5rem;
  .hero-info {
    width: 50%;
    h2 {
      font-size: 3rem;
    }
    p {
      color:darken( #DEDEDE,30%);
    }
    button {
      @include blue-btn;
    }
  }
  .circle-gallery {
    width: 66%;
    img{
        max-width: 100%;
        max-height:100%;
        display:block;
    }
  }
}
.menu-tiles {
  display: flex;
  justify-content: space-between;

  width: 80%;
  margin: 0 auto;
  text-align: center;

  div {
    display: flex;
    flex-flow: column;
    img {
      border-radius: 10px;
      height: 150px;
      width: 265px;
    }
    p{
        color:black;
    }
  }
}
.current-pets {

  width: 80%;
  margin: 0 auto;
  a{
    position: relative;
    top: 125px;
    left: 94%;
    text-decoration: none;
    font-weight: 300;
    }
  }
  .pet-container {

    display: flex;
    justify-content: flex-start;
    .petcard{
margin-right: 2rem;
        text-align: left;
        img{
            height: 200px;
            width: 175px;
            border-radius: 10px;
        }
        p{
            font-weight: 700;
            color: black;
        }
        span{
            color:darken( #DEDEDE,30%);
        }
    }
    .chev-container{
        i  {
            position: relative;
color:darken( #DEDEDE,30%);
            top: 30%;
            left: -56px;
            padding: 0.7rem 1rem;
            border-radius: 10px;
            background: rgba($color: #ffffff, $alpha: 0.9);
            box-shadow:   13px 13px 26px #dedede,
            -13px -13px 26px #ffffff;

        }
    }
  }
  h2 {
    font-size: 3rem;
  }
  p {
color:darken( #DEDEDE,30%);
  }
